// Place all the styles related to the Users controller here.

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wraper {
	background:#d0e5f5;
}

.header {
	background: grey;
	text-align: center;
}

.login {
	background-color: white;
	text-align: center;
}

.signin{
	background-color: #98E4EE;
	text-align: center;
}

.users{
	background-color: white;
	text-align: center;
}
.list{
	font-family: tahoma;
	text-align: center; 
}
.new {
	padding: 30px;
}